.App {
  text-align: left;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh
}

.Footer {
	position: relative;
	bottom: 0;
	width: 100%
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
}