h1 {
    text-align:center;
}
h2 {
    text-align:center;
}
h3 {
    text-align:center;
}
h4 {
    text-align:center;
}
h5 {
    text-align:center;
}
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
.centered-horizontal {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
.padding-horizontal{ 
    padding-left: 50px;
    padding-right: 50px;
}
.padding-right { 
    padding-right: 50px;
}
.padding-vertical {
    padding-top: 50px;
    padding-bottom: 50px;
}
.padding-all {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
}
.icon {
    width: 150px;
    height: 150px;
    align-self: center;
    padding-top: 5px;
}
.description {
    width: 150px;
}
.demo-card-photo {
    width: 200px;
    height: 200px;
    align-self: center;
    padding-top: 10px;
}
.search-photo {
    width: 200px;
    height: 200px;
}
.chart-overflow {
    overflow: auto;
}
.center-in-container {
    margin: 0 auto;
}
